= simple_form_for(@book, html: { multipart: true }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, as: :string, input_html: { class: 'input-xxlarge' }
    = f.input :author, as: :string, input_html: { class: 'input-xxlarge' }
    = f.input :year, as: :string, input_html: { class: 'input-xxlarge' }
    = f.input :publisher, as: :string, input_html: { class: 'input-xxlarge' }
    = f.input :description, as: :text, input_html: { rows: 15, cols: 60, class: 'input-xxlarge' }
    = f.input :source, as: :text, input_html: { rows: 8, cols: 60, class: 'input-xxlarge' }
    = f.input :mirror_links, as: :text, input_html: { rows: 10, cols: 60, class: 'input-xxlarge' }
    = f.input :license, as: :text, input_html: { rows: 6, cols: 60, class: 'input-xxlarge' }

    = f.label 'Upload 1'
    = f.file_field :upload1
    .clearfix
    %br
    = f.label 'Upload 2'
    = f.file_field :upload2

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', root_path, class: 'btn'