.container
  .row
    .span12
      %h3
        Books
        = link_to '(Add new)', new_book_path, style: 'font-size: 16px'
      %br
      .row
        .span5
          %h4 Title
        .span3
          %h4 Author
      - @books.each do |book|
        .well.row
          .span5
            = link_to book.title, book
          .span3
            %p=book.author
          .span2
            = link_to 'edit', edit_book_path(book)
            |
            = link_to 'delete', book, :method => :delete, :data => { :confirm => 'Are you sure?' }
