.container
  .row
    .span10
      .pull-right
        = link_to 'edit', edit_book_path(@book)
        |
        = link_to 'delete', @book, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
      - @book.attributes.each do |key, value|
        - unless ['id', 'created_at', 'updated_at'].include? key or key.start_with?('upload')
          .book-item
            .row
              .span9
                %span.book-item-before= key.capitalize
                %p= @book.send(key).html_safe

      - ['upload1', 'upload2'].each do |key|
        - if @book.send(key).exists?
          .book-item
            .row
              .span9
                %span.book-item-before= key.capitalize
                = link_to "#{@book.send(key + '_file_name')} (download)", @book.send(key).url

