<!DOCTYPE html>
<html>
<head>
  <title>Sparya</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='span5'>
        <h2><%= link_to 'Sparya', root_path %></h2>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
